
 <nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container col-6">
      <div>
        <h3><a href="/home" class="navbar-brand">8ook<span style="color:red;">Art</span></a></h3>
      </div>
      <form action="/home" class="d-flex">
          <input class="form-control me-2 rounded-1" type="search" placeholder="Search" name="Search">
          <button class="btn btn-outline-warning rounded-1" type="submit">Search</button>
       </form> 
    </div>
</nav>
