
 <nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container col-6">
      <div>
        <img src="./pp.jpg" alt="profile picture" width="40px" class="rounded-circle me-2">
        <a class="navbar-brand">navbar</a>
      </div>
      <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit">Search</button>
       </form>
       <a href="#" style="color:white; text-decoration:none;">Login</a>
    </div>
</nav>
