<% const arr = ['art'] %>
<div class="sidebar">
    <h1>Wellcome To 8ook<span style="color:#ff2525">Art</span>  Social Media</h1>
    <% if(arr.length == 0){ %>
      <p>Login to be part of us!</p>
      <a href="/login" class="btn btn-warning">Login</a>
    <% } else { %>
      <div class="frame-photo mx-auto">
        <img src="/1658377943753.jpeg" alt="profile picture" width="100%">
      </div>
      <br>
      <h4>Rohmat Hidayattullah</h4>
      <div>19 Oktober 1997</div>
      <div>Jumlah Postingan : 0</div>
      <a href="/profile/2">Edit Profile</a>
      <a href="/addPost/2">Add Post</a>
      <p><a href="/managePost/2">Manage Post</a></p>
    <% } %> 
  </div>