<div class="sidebar">
    <h1>Wellcome To 8ook<span style="color:#ff2525">Art</span>  Social Media</h1>
    <% if(!data){ %>
      <p>DESKRIPSI WEBSITE INIIIIII</p>
      <p>Login to be part of us!</p>
      <a href="/login" class="btn btn-warning">Login</a>
    <% } else { %>
      <div class="frame-photo mx-auto">
        <img src="<%=data.profilePicture%>" alt="<%=data.User.fullName()%>" width="100%">
      </div>
      <br>
      <h4><%=data.User.fullName()%></h4>
      <div><%=data.formatDate%></div>
      <div>Jumlah Postingan : 0</div>
      <a href="/profile">Edit Profile</a>
      <a href="/addPost">Add Post</a>
      <p><a href="/managePost">Manage Post</a></p>
    <% } %> 
  </div>