.sidebar {
    background-color:#ddd;
    position:fixed;
    height:100vh;
    width:300px;
}

.background-card {
    background-color:#ddd;
    height:250px;
    width:100%;
    overflow:hidden;
}

.filter {
    position:fixed;
    top:45px;
    left:350px;
    z-index:20;
}