<%- include('./partials/header', {title: "Halaman Utama 8ookArt"}) %> 
<%- include('./partials/nav') %> 
<main>
    <div class="filter">
        <a href="" class="btn btn-warning rounded-1 mt-3 mb-3 pt-0 pb-0">Nature</a>
        <a href="" class="btn btn-warning rounded-1 mt-3 mb-3 pt-0 pb-0">Urban</a>
        <a href="" class="btn btn-warning rounded-1 mt-3 mb-3 pt-0 pb-0">Cartoon</a>
        <a href="" class="btn btn-warning rounded-1 mt-3 mb-3 pt-0 pb-0">Potrait</a>
        <a href="" class="btn btn-warning rounded-1 mt-3 mb-3 pt-0 pb-0">Abstract</a>
    </div>
    <div class="container-fluid">
        <div class="row">
          <!-- left side bar -->
            <div class="col">
                <div class="sidebar">
                    <h1>Wellcome To 8ook<span style="color:#ff2525">Art</span>  Social Media</h1>
                    <p>Login to be part of us!</p>
                    <a href="#" class="btn btn-warning">Login</a>
                </div>
            </div>
          <!-- end left side bar -->

          <!-- center bar -->
            <div class="col-6 centerbar">
                <!-- card -->
                <div class="card mt-5" style="width: 80%;">
                    <div class="background-card">
                        <img src="./1.jpg" alt="">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Lasanto Pairera</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p><a href="#"><i class="fa fa-heart"></i></a>   0 Likes</p>
                    </div>
                  </div> <!-- end carde -->
            </div>
            <!-- end center bar -->
            <div class="col">
            </div>
        </div>
    </div>
  </main>

<%- include('./partials/footer') %> 